@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');


body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.001em;
}

* {
    margin: 0;
    padding: 0;

}

.main__header {
    width: 1366px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 19px;
    position: relative;
}

.main__header .container {
    width: 1170px;
    margin: 0 auto;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*slider main__header*/

.main__header .block__above {
    position: relative;
    z-index: 90;
}

.container__slider1 {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 1366px;
    height: 0;
    padding-bottom: 60%;
    user-select: none;
    background-color: #1c1c1c;
    box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24);

}

.container__slider1 input {
    display: none;
}

.container__slider1 .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container__slider1 .slide_img img {
    width: inherit;
    height: inherit;
}



.container__slider1 #nav_slide {
    width: 100%;
    bottom: 1%;
    height: 55px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;


}

.container__slider1 #nav_slide .dots {
    top: -5px;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(33, 33, 33, 0.2);
    transition: .4s;
    cursor: pointer;

}



.container__slider1 #nav_slide #dot1:hover {
    background: #795548;
}

.container__slider1 #nav_slide #dot2:hover {
    background: #F44336;
}

.container__slider1 #nav_slide #dot3:hover {
    background: #2196F3;
}



#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
    z-index: 9;
    animation: scroll 1s ease-in-out;

}

#i1:checked ~ #nav_slide #dot1 {
    background: #212121;
    width: 45px;
    height: 45px;

}

#i2:checked ~ #nav_slide #dot2 {
    background: #212121;
    width: 45px;
    height: 45px;
}

#i3:checked ~ #nav_slide #dot3 {
    background: #212121;
    width: 45px;
    height: 45px;
}



@keyframes scroll {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 685px) {
    .container__slider1 {
        border: none;
        width: 100%;
        height: 0;
        padding-bottom: 55%;
    }

    .container__slider1 #nav_slide .dots {
        width: 50px;
        height: 50px;
    }
}



/*end slider*/
/*header-top*/

.header__top {
    width: 1100px;
    margin-right: 70px;
}

.header__logo {
    display: block;
    float: left;
}

.menu {
    float: right;
    margin-right: 21px;
    padding: 0;

}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-left: 30px;
}

.menu li a {
    font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    line-height: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    letter-spacing: 0.1em;
    transition: text-shadow .3s;
    border-bottom: 3px solid transparent;
}

.menu li a:hover {
    color: #212121;
    border-bottom: 3px solid black;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}


.search {
    display: block;
    float: right;
}

.search:hover {
    box-shadow: 0 0 .65px #333, 0 0 .65px #333;
}


.header__promo {
    width: 490px;
    margin-bottom: 141px;
    margin-top: 283px;

}

.header__promo h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}

.header__promo h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    margin-bottom: 34px;
    text-transform: uppercase;
    font-family: Montserrat;

}

.header__promo p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;

}

.header__promo a {
    display: block;
    background: #fff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

.header__promo a:hover {
    background: url(../img/arrow.png) no-repeat 173px 16px;
}

.navigation {
    width: 120px;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.navigation a {
    width: 20px;
    height: 20px;
    background-color: #c7c7c7;
    float: left;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    margin-right: 5px;
    border: 4px solid transparent;
    position: absolute;

}

.navigation a:first-child {
    top: 10px;
    left: 0;
}

.navigation a:nth-child(2) {
    width: 40px;
    height: 40px;
    background-color: #212121;
    top: 0;
    left: 35px;
}

.navigation a:last-child {
    top: 10px;
    left: 90px;
}

/*featured*/
.featured .container {
    width: 1170px;
    margin: 0 auto;
}

.featured__header {
    margin-top: 107px;
    padding-bottom: 19px;
    padding-left: 9px;
    margin-bottom: 50px;
}

.featured__header .featured__menu {
    float: left;
    margin-right: 21px;
    padding: 0;
    border-bottom: 3px solid #9c9c9c;
}


.featured__header .ghost {
    float: right;
    display: block;
    padding-right: 22px;
    margin-top: 18px;
}

.featured__header .ghost:hover {
    background: url(../img/arrow.png) no-repeat 173px 2px;
}

.featured__menu li {
    float: left;
    display: block;
    margin-right: 31px;


}

.featured__menu li a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1pt;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    letter-spacing: .1em;
    transition: text-shadow .3s;
    border-bottom: 3px solid transparent;
}


.featured__menu li a:hover {
    color: #212121;
    border-bottom: 3px solid black;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.featured__products {
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between
}

.featured__item {
    text-align: center;
    position: relative;
    width: 270px;
    height: 270px;
    box-sizing: border-box;

}

.featured__item a {
    display: block;
    width: 270px;
    height: 270px;
}

.img__item1 {
    background: url(../img/product-1.jpg)no-repeat;
}

.img__item2 {
    background: url(../img/product-2.jpg)no-repeat;
}

.img__item3 {
    background: url(../img/product-3.jpg)no-repeat;
}

.img__item4 {
    background: url(../img/product-4.jpg)no-repeat;
}

.featured__item__hover h3 {
    font-family: Montserrat;
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    width: 250px;
}

.featured__item__hover p {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    width: 250px;
}

.featured__item__hover .back {
    background: url(../img/back.png) no-repeat 50% 50%;
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 110px;
}

.featured__item__hover {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    text-align: center;
    padding: 60px 0 20px;
    box-sizing: border-box;
}

.featured__item:hover .featured__item__hover {
    display: block;
}




.exclusive .container {
    width: 1366px;
    margin: 0 auto;
}

.exclusive__items {
    margin: 0;
}

.exclusive__item:first-child {
    background: url(../img/promo-img1.jpg) no-repeat center center /cover;
    width: 683px;
    height: 683px;
    float: left;
    display: block;
    padding-bottom: 1px;

}

.exclusive__item:last-child {
    background: url(../img/promo-img.jpg) no-repeat center center /cover;
    width: 683px;
    height: 683px;
    float: right;
    display: block;
    padding-bottom: 1px;
}

.exclusive__item h3 {
    font-family: Montserrat;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 51px;
    margin-top: 228px;
}

.exclusive__item h2 {
    font-family: Montserrat;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 17px;
    margin-left: 52px;
}

.exclusive__item p {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 24px;
    margin-left: 50px;
    width: 400px;
}

.exclusive__item a {
    display: block;
    background: #fff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    margin-top: 34px;
    margin-left: 50px;
    text-transform: uppercase;

}

.exclusive__item a:hover {
    background: url(../img/arrow.png) no-repeat 173px 16px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.top__trending {
    margin-top: 119px;

}

.top__trending h2 {
    float: left;
    font-family: Montserrat;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.top__trending .ghost {
    float: right;
    display: block;
    padding-right: 22px;
    margin-top: 18px;
}

.top__trending .ghost:hover {
    background: url(../img/arrow.png) no-repeat 173px 2px;
}

.trending .container {
    width: 1170px;
    margin: 0 auto;
}

.trending__items {
    margin-top: 64px;
    margin-bottom: 120px;
}

.trending__item {
    float: left;
    margin-right: 30px;
}

.trending__item:hover {
    outline: 1px solid gray;
}

.row1__trending__items .trending__item:last-child {
    margin: 0;
}

.row2__trending__items .trending__item:last-child {
    margin: 0;
}

.row1__trending__items {
    margin-bottom: 30px;
}


/*hot__deal*/

.hot__deal {
    background: url(../img/slider.jpg) no-repeat 100% top /cover;
    padding-top: 287px;
    padding-bottom: 20px;
    width: 1366px;
    margin: 0 auto;
}

.hot__deal .container {
    width: 1170px;
    margin: 0 auto;
}



.hot__deal__promo h3 {
    font-family: Montserrat;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

}

.hot__deal__promo .promo__title {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Montserrat;
    margin-left: 7px;

}

.hot__deal__promo p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;
    width: 470px;
}

.hot__deal__promo a {
    display: block;
    background: #fff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 226px;


}

.hot__deal__promo a:hover {
    background: url(../img/arrow.png) no-repeat 173px 16px;
}

.hot__deal .navigation {
    margin-bottom: 0;
}

.exclusive__chair {
    margin-top: 120px;

}

.exclusive__chair .container {
    width: 1170px;
    margin: 0 auto;
}

.eclusive__chair__item__big1 {
    background: url(../img/product-1-lg.jpg)no-repeat center center;
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
    display: block;
    width: 570px;
    height: 570px;
}

.eclusive__chair__item__big1 h3 {
    font-family: Montserrat;
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 181px;
    margin-left: 31px;

}

.eclusive__chair__item__big1 h2 {
    font-family: Montserrat;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 32px;

}

.eclusive__chair__item__big1 p {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 14px;
    margin-left: 30px;
    width: 340px;
}

.eclusive__chair__item__big1 a {
    display: block;
    background: #fff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-left: 30px;
    text-transform: uppercase;


}

.eclusive__chair__item__big1 a:hover {
    background: url(../img/arrow.png) no-repeat 173px 16px;
}

.eclusive__chair__item__big2 {
    float: left;
}

.exclusive__chair__item_small {
    margin-bottom: 30px;
}

.exclusive__chair__item_small:last-child {
    margin-bottom: 0;
}

.exclusive__chair__item {
    float: left;
    display: block;
    margin-right: 30px;
}

.exclusive__chair__item_small:first-child .exclusive__chair__item:first-child {
    background: url(../img/product-2-sm.jpg)no-repeat center center;
    width: 270px;
    height: 270px;
}

.exclusive__chair__item_small:first-child .exclusive__chair__item:nth-child(2) {
    background: url(../img/product-3-sm.jpg)no-repeat center center;
    width: 270px;
    height: 270px;
    margin-right: 0;

}

.exclusive__chair__item_small:nth-child(2) .exclusive__chair__item:first-child {
    background: url(../img/product-4-sm.jpg)no-repeat center center;
    width: 270px;
    height: 270px;
}

.exclusive__chair__item_small:nth-child(2) .exclusive__chair__item:nth-child(2) {
    background: url(../img/product-5-sm.jpg)no-repeat center center;
    width: 270px;
    height: 270px;
    margin-right: 0;
}

.mobile__app {
    background: url(../img/back-img.jpg)no-repeat center center /cover;
    padding-top: 125px;
    padding-bottom: 120px;
    width: 1366px;
    margin: 120px auto 0;
}

.mobile__app .container {
    width: 1170px;
    margin: 0 auto;
}

.mobile__app .promo h3 {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.mobile__app .promo .promo__title {
    font-family: Montserrat;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    width: 500px;
    text-transform: uppercase;
}

.mobile__app .promo p {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 33px;

}

.mobile__app .social {}

.social__item {
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 135px;
    height: 40px;
}

.social__item__app__store {
    background: url(../img/app-store.jpg)no-repeat 50% 50%;
}

.social__item__app__store:hover {
    background: url(../img/app-store-h.jpg);
}

.social__item__google__play {
    background: url(../img/google-play.jpg)no-repeat 50% 50%;
}

.social__item__google__play:hover {
    background: url(../img/google-play-h.jpg);
}

/*footer*/
footer {
    padding-top: 120px;
    padding-bottom: 30px;
    background-color: #f7f7f7;

    width: 1366px;
    margin: 0 auto;
}

footer .container {
    width: 1170px;
    margin: 0 auto;
}

.footer-menu {
    float: left;
}

.footer-menu:first-child {
    width: 223px;
    margin-right: 80px;
}

.footer-menu:last-child {
    width: 193px;
    margin-right: 60px;
}

.footer-menu h3 {
    margin: 0;
    margin-bottom: 24px;
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.footer-menu h3 span {
    position: relative;
    z-index: -1;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    margin-bottom: 5px;
}

.footer-menu:first-child li {
    margin-bottom: 30px;
}

.footer-menu a {
    text-decoration: none;
    font-family: Montserrat;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.footer-menu:first-child a {
    font-family: Montserrat;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-transform: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu a:active {
    text-decoration: none;
    opacity: 0.3;
}

.suscribe {
    float: right;
    width: 368px;
}

.suscribe h3 {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.suscribe p {
    font-family: Montserrat;
    color: #212121;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 26px;
    width: 368px;

}

.submit__email {
    border: 1px solid #d9dee1;
    width: 368px;
    min-height: 36px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 2px solid transparent;

}

.submit__email:hover {
    border: 2px solid #0ef20e;
}


input[type="email"] {
    vertical-align: middle;
    width: 290px;
    padding: 10px 20px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    float: left;
}

input[type="submit"] {
    width: 35px;
    height: 35px;
    background: #ffffff url(../img/plane.png)no-repeat 50% 50%;
    border: none;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}


input[type="email"]:focus {
    color: #0ef20e;
    font-weight: bold;

}

input[type="submit"]:hover {
    outline: 2px solid gray;
}


.bottom__footer {}

.copyright {
    float: left;
    width: 362px;
    margin-right: 158px;
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
}

.footer-social {
    float: left;
    width: 148px;
    padding: 0;
    margin: 0;
}

.social-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%
}




.social-btn-fb {
    width: 28px;
    height: 28px;
    background: url(../img/icon_fb.png)no-repeat 50% 50%;
}

.social-btn-fb:hover {
    background: url(../img/icon_fb_h.png);
}

.social-btn-tw {
    width: 28px;
    height: 28px;
    background: url(../img/icon_tw.png)no-repeat 50% 50%;
}

.social-btn-tw:hover {
    background: url(../img/icon_tw_h.png);
}

.social-btn-g {
    width: 28px;
    height: 28px;
    background: url(../img/icon_g.png)no-repeat 50% 50%;
}

.social-btn-g:hover {
    background: url(../img/icon_g_h.png);
}

.social-btn-p {
    width: 28px;
    height: 28px;
    background: url(../img/icon_p.png)no-repeat 50% 50%;
    margin-right: 0;
}

.social-btn-p:hover {
    background: url(../img/icon_p_h.png);
}

.terms {
    float: right;
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
}

/*product__details header-details*/
.header__details {
    padding-top: 63px;
}

.header__details .header__top {
    margin-bottom: 30px;
}

.products__navbar {
    display: block;
    margin: 0 auto;
    width: 647px;
}

.menu__details {
    background-color: #f4f4f4;
    padding: 25px 360px;

}

.header__details .container {
    width: 1136px;
    margin: 0 auto;
}

.products__navbar ul {
    padding: 0;
    margin: 0;
    width: 647px;
    display: flex;
    justify-content: space-between;

}

.products__navbar li {
    display: inline-block;

}

.products__navbar li a:hover {
    color: #212121;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.products__navbar li a {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 17.99px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: text-shadow .3s;

}

/*product__details fishnet*/
.header__details .fishnet {
    padding-top: 72px;
}



.product-details .fishnet .container {}

.fishnet__all__img {
    float: left;
}

.fishnet__img {
    background: url(../img/slider1.jpg)no-repeat 50% 50%;
    width: 570px;
    height: 570px;
    margin-right: 56px;

}

.fishnet__content {
    float: left;

}

.fishnet__content h2 {
    font-family: Montserrat;
    color: #212121;
    font-size: 35.98px;
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
}

.fishnet__content h3 {
    font-family: Montserrat;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.fishnet__content pre {
    font-family: Gotham;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    display: block;
    width: 499px;
    margin-top: 49px;
    margin-left: 5px;

}

.fishnet__content .fishnet__price {
    font-family: Gotham;
    color: #212121;
    font-size: 72px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    margin-top: 35px;
}

.fishnet__content .fishnet__price span {
    font-family: Gotham;
    color: #212121;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
}

.fishnet__content .btn {
    background-color: #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 510px;
    height: 71px;
    display: block;
    text-decoration: none;
    border-radius: 22px;
    text-transform: uppercase;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 21.99px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 31px;

}

.fishnet__content .btn:hover {
    background: url(../img/arrow-white.png) no-repeat 340px 22px;
    background-color: #f44336;


}

.fishnet__content p {
    display: block;
    width: 499px;
    height: 244px;
    font-family: Gotham;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    box-sizing: border-box;

}

.fishnet__items {
    display: flex;
    width: 230px;
    justify-content: space-between;
    margin-left: 160px;

}

.fishnet__item {
    display: block;
    width: 70px;
    height: 71px;
}

.fishnet__items a:hover {
    outline: 1px solid gray;
}


/*related*/
.related {
    margin-top: 245px;
    margin-bottom: 120px;
}

.related .container {
    width: 1170px;
    margin: 0 auto;
}

.top__related {
    margin-bottom: 70px;
}

.top__related h2 {
    float: left;
    font-family: Montserrat;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.top__related .ghost {
    float: right;
    font-family: Montserrat;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-right: 22px;
}

.top__related .ghost:hover {
    background: url(../img/arrow.png) no-repeat 173px 4px;
}

/*contacts*/
.header__contacts {
    background-color: #f5f5f5;
    width: 1366px;
    height: 360px;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 63px;
}

.header__contacts .container {
    width: 1101px;
    margin: 0 auto;
}

.header__contacts .header__promo {
    margin-top: 170px;

}

.header__contacts .header__promo h1 {
    font-family: Montserrat;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: none;
}

/*contacts location*/
.location {
    padding-top: 71px;
    padding-bottom: 122px;
}

.location .container {
    width: 1170px;
    margin: 0 auto;
}

.location__items {
    background-color: #ffffff;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;

}

.location__item {
    text-align: center;
    padding: 48px 0 63px;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    width: 370px;
    box-sizing: border-box;

}

.location__item table {
    border-collapse: collapse;
    padding: 0;
    margin: 0 50px 0;
}

.location__item h3 {
    font-family: Montserrat;
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 0px;
    display: block;
}

.location__item a {
    font-family: Montserrat;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
    text-decoration: none;
}

.location__item a:hover {
    color: #212121;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.location__item .title {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 900;
    line-height: 21px;
    text-align: center;
    padding-top: 15px;
}

.location__item .adress {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 500;
    line-height: 20.082px;
    text-align: center;
}







/*products*/
.header__products {
    padding-top: 63px;
    padding-bottom: 44px;
    background-color: #f5f5f5;
    width: 1366px;
    margin: 0 auto;
}

.header__products .container {
    width: 1170px;
    margin: 0 auto;
}

.header__products .header__promo {
    width: 705px;
    margin-top: 168px;
    margin-bottom: 0;

}

.header__products .header__promo h1 {
    text-transform: none;
    font-family: Montserrat;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
}

.menu__products {
    padding-top: 65px;
    margin-left: 0;
    border-bottom: 1px solid gray;

}

.menu__products li {
    padding-bottom: 19px;
}

.menu__products a {
    padding-bottom: 19px;

}

.menu__products a:hover {
    border-bottom: 3px solid black;
}

.main__navbar .container {
    width: 1170px;
    margin: 0 auto;
}

/*products__trending*/
.products__trending {
    padding-top: 50px;
    padding-bottom: 71px;
}

.products__trending .container {
    width: 1170px;
    margin: 0 auto;
}

.products__trending .trending__items {
    margin-top: 0;
    margin-bottom: 71px;
}

.products__trending .trending__item:hover {
    outline: 1px solid gray;
}



.renew {
    background: url(../img/renew.png) no-repeat 50% 50%;
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    margin-bottom: 170px;
    -webkit-transition: 500ms;
    transition: 500ms;

}

.renew:hover {
    background: url(../img/renew-h.png) no-repeat 50% 50%;
    transform: rotate(360deg);
}

/*media screen*/


@media (min-width: 1200px) {
    ...
}

//большие экраны
@media (max-width: 992px) {
    .menu {
        float: right;
    }

    //небольшие экраны
    @media (max-width: 767px) {
        ...
    }

    //планшетные экраны
    @media (max-width: 480px) {
        ...
    }

    //мобильные экраны
