
.icon-phone:before { content: '\e800'; } /* '' */
.icon-at:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */