.factory{
   &-block{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &__image{
         max-width: 500px;
         margin-top: 20px;
      }
      &__text{
         flex-basis:40%;
         font-size: 20px; 
         margin-left: 70px;
      }
   }
}